.anatomy_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 2000px;
  min-width: 200px;
}

.images_wrapper {
  position: relative;
  width: 100%;
  animation: scale_in 0.5s ease-in;
}

@keyframes scale_in {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
.bubbles {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.left_bubbles {
  opacity: 0;
  transform: translateX(-1rem);
}

.right_bubbles {
  opacity: 0;
  transform: translateY(-1rem);
}

.hovered {
  opacity: 1;
  transform: translateX(0rem);
  transition: all 0.5s;
}

.tramvay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  filter: saturate(0%);
  transition: filter 1s ease;
}

.lake_hovered {
  filter: saturate(100%);
}
.bg_layer {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.big_hover_block {
  position: absolute;
  width: 85%;
  height: 30%;
  /* border: 1px solid peru; */
  top: 28%;
  left: 8%;
  border-radius: 100%;
}

.top_hover_block {
  position: absolute;
  width: 40%;
  height: 5%;
  /* border: 1px solid red; */
  top: 27%;
  left: 40%;
}

.lake_hover_block {
  position: absolute;
  width: 45%;
  height: 17%;
  /* border: 1px solid blue; */
  top: 33%;
  left: 28%;
  border-radius: 100%;
}

.right_hover_block {
  position: absolute;
  width: 19%;
  height: 7%;
  /* border: 1px solid pink; */
  top: 43.5%;
  left: 75%;
}
.bottom_hover_block {
  position: absolute;
  width: 22%;
  height: 7%;
  /* border: 1px solid palegreen; */
  top: 51%;
  left: 62.5%;
}

.ultra_bottom_hover_block {
  position: absolute;
  width: 26%;
  height: 7%;
  /* border: 1px solid palevioletred; */
  top: 51%;
  left: 36%;
}

.krest {
  opacity: 0;
  transition: all 1s;
}

.krest_hovered {
  opacity: 1;
}

.top_bubbles {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s;
}

.top_bubbles_hovered {
  transform: translateY(0px);
  opacity: 1;
}

.bottom_bubbles {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s;
}

.bottom_bubbles_hovered {
  transform: translateY(0px);
  opacity: 1;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.spinner_hat {
  position: absolute;
  animation: animation_hat 2s ease-in infinite;
  animation-direction: alternate;
}
@keyframes animation_hat {
  0% {
    transform: translateY(-0.1rem);
  }
  50% {
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.spinner_must {
  animation: must_anim 1s ease-in infinite;

  transform-origin: 50% 95%;
}

@keyframes must_anim {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }

  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner_up {
  animation: spinner_up 1s;
}
.spinner_down {
  animation: spinner_down 1s;
}
@keyframes spinner_up {
  to {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes spinner_down {
  to {
    transform: translateY(2rem);
    opacity: 0;
  }
}
